- parent = GroupFinder.new(current_user).execute(id: params[:parent_id] || @group.parent_id)

- if @group.persisted?
  .form-group
    = f.label :name, class: 'control-label' do
      群组名称
    .col-sm-10
      = f.text_field :name, placeholder: 'open-source', class: 'form-control'

.form-group
  = f.label :path, class: 'control-label' do
    群组路径
  .col-sm-10
    .input-group.gl-field-error-anchor
      .input-group-addon
        %span>= root_url
        - if parent
          %strong= parent.full_path + '/'
      = f.text_field :path, placeholder: 'open-source', class: 'form-control',
        autofocus: local_assigns[:autofocus] || false, required: true,
        pattern: Gitlab::Regex::NAMESPACE_REGEX_STR_JS,
        title: '请选择一个不包含特殊字符的群组名称。',
        "data-bind-in" => "#{'create_chat_team' if Gitlab.config.mattermost.enabled}"
      - if parent
        = f.hidden_field :parent_id, value: parent.id

    - if @group.persisted?
      .alert.alert-warning.prepend-top-10
        %ul
          %li 修改群组路径会存在意想不到的副作用。
          %li 重命名群组路径会重命名全部相关项目的路径
          %li 包括改变群组和群组项目的网页访问链接。
          %li 包括改变群组下版本库的 git 路径。

.form-group.group-description-holder
  = f.label :description, '描述', class: 'control-label'
  .col-sm-10
    = f.text_area :description, maxlength: 250,
        class: 'form-control js-gfm-input', rows: 4
